body{
    margin-top: 20px;
    background-color: blue;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: lightgray;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: centre;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}
